html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-dashboard {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .app-animated-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .navbar {
    z-index: 20;
  }

  .content {
    position: relative;
    z-index: 10;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5%;

    .container {
      margin: 0 auto;

      h2 {
        margin-bottom: 20px;
        color: #333;
        font-size: 24px; /* Adjust font size */
        font-weight: bold; /* Add bold font weight */
        text-transform: uppercase; /* Uppercase text */
        letter-spacing: 2px; /* Increase letter spacing */
      }

      .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        color: #000;
        border-radius: 10px;
        overflow: hidden;
        width: 100%; /* Make the table take up the full width of its parent container */

        thead {
          tr {
            background-color: #3e96d1; /* Updated header background color */
            color: #ffffff;
            text-align: left;
            font-weight: bold;
            border-bottom: 2px solid #3e96d1; /* Updated header bottom border color */
          }
        }

        th,
        td {
          padding: 12px 15px;
          border: 1px solid #dddddd;
        }

        tbody {
          tr {
            &:nth-of-type(even) {
              background-color: #f9f9f9;
            }

            &:hover {
              background-color: #f1f1f1;
            }

            &:last-of-type {
              border-bottom: 2px solid #3e96d1; /* Updated last row bottom border color */
            }
          }
        }

        button {
          padding: 8px 16px;
          margin: 0 5px;
          border: none;
          background-color: #3e96d1; /* Updated button background color */
          color: #ffffff; /* Updated button text color */
          cursor: pointer;
          border-radius: 3px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #357fb5; /* Darker shade on hover */
          }
        }
      }
    }
  }
}
